<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Agents</h1>
      {% for agent in agents%}
      <li>{{agent.name}}</li>
      {% endfor %}
    </div>
    <div>
      <h1>Maps</h1>
      {% for map in maps%}
      <li>{{map.name}}</li>
      {% endfor %}
    </div>
    <div>
      <h1>Weapons</h1>
      {% for weapon in weapons%}
      <li>{{weapon.name}}</li>
      {% endfor %}
    </div>
  </body>
</html>
